*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.table{
    margin: 0 auto;
 }

.table h1{
    text-align: center;
    border: 1px solid gray;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: violet;
    font-size: 2vw;
}


.mainForm{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid gray;
    padding-top: 2vw;
    padding-bottom: 2vw ;
    box-shadow: 4px 9px 9px #888888;
    background-image: linear-gradient(red,yellow);
    background-repeat: no-repeat;
}


.data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
    padding: 0 2vw 0.6vw 2vw ;
}

.data label{
    font-size: 1.7vw;
    font-weight: bold;
}

.data  input{
    outline: 0;
    font-size: 1.2vw;
    height: 1.9vw;
    padding: 0.9vw;
    border-top-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    border-color: black;
}

#popup{
    width: 20vw;
    font-size: 1.2vw;
    padding: 0.3vw;
    border-top-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

.btn{
    width: 8vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.2vw;
    margin: 1vw auto;
    border-top-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
}

.btn:hover ,.myButtonEdit:hover, .myButtonDelete:hover{
    background-color:rgb(106, 206, 106);
}


.userData{
    margin-right: 5vw;
    background-image: linear-gradient(red,yellow);
    background-repeat: no-repeat;
    box-shadow: 4px 9px 9px #888888;
    
}

.mainData{
    border-top: 1px solid gray;
}


.mainData:hover{
    /* width: 100%; */
    background-color:white;
}

#output{
    /* height: 1%; */
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid gray;
}


.userData h1{
    border: 1px solid gray;
    text-align: center;
    position: sticky;
    background-color: white;
    z-index: 5;
    border-top-left-radius: 8vw;
    border-top-right-radius: 8vw;
    background-color: rgb(106, 206, 106);
    font-size: 2vw;
} 

tbody{
    margin-left: 3vw;
    margin-top: 1.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vw;
    font-size: 1.5vw;  
}


.myButtonEdit, .myButtonDelete{

    font-size: 1.3vw;
    padding: 0.1vw 1vw 0.1vw 1vw; 
    font-weight: bold;
    border-top-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
}


.myButtonEdit{
    margin-top: 2vw;
    margin-left: 16vw; 
}

.myButtonDelete{
    margin-left: 1.5vw;
    margin-bottom: 1vw;
}

